## Kansas Chief - Linear Regression Prediction

****。Using Linear Regression**** <br>
****。Data from 2015-2021****

In [24]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [57]:
kc = pd.read_csv('/Users/wendychiang/Desktop/KC_5yrs.csv')
test = pd.read_csv('/Users/wendychiang/Desktop/KCTest.csv')

In [58]:
test.head(3)

,TmScore,1stD_off,TotYd_off,PassY_off,RushY_off,TO_off,1stD_def,TotYd_def,PassY_def,RushY_def,TO_def
0,44.0,33.0,488.0,360.0,128.0,1.0,18.0,282.0,179,103.0,0.0
1,27.0,15.0,319.0,226.0,93.0,0.0,21.0,401.0,326,75.0,1.0
2,17.0,20.0,315.0,257.0,58.0,2.0,19.0,259.0,177,82.0,1.0

In [59]:
kc.head()

,TmScore,1stD_off,TotYd_off,PassY_off,RushY_off,TO_off,1stD_def,TotYd_def,PassY_def,RushY_def,TO_def
0,42,26,537,352,185,1,25,371,247,124,0
1,27,16,344,232,112,0,27,406,299,107,2
2,24,16,311,122,189,0,24,330,226,104,3
3,29,29,429,261,168,0,15,331,220,111,1
4,42,29,450,323,127,0,20,392,248,144,1

In [94]:
x = kc.drop('TmScore', axis=1)
y = kc['TmScore']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [95]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [100]:
r2 = r2_score(y_test, reg.predict(x_test))
r2

0.4646595537318676

In [96]:
y_pred = reg.predict(test.drop('TmScore',axis=1))
df = pd.DataFrame({'Actual':test['TmScore'],'Predict':y_pred})
df

    Actual    Predict
0     44.0  33.933302
1     27.0  24.123744
2     17.0  20.640817
3     41.0  38.468031
4     30.0  28.031033
5     20.0  26.211970
6     44.0  34.696110
7     20.0  25.526163
8     27.0  25.831630
9     30.0  33.233691
10    26.0  27.539890
11    24.0  25.112940
12    34.0  21.749483
13    30.0  34.611323
14    24.0  20.629412
15    27.0  24.598303
16    31.0  30.500762
17    27.0  29.461187
18    23.0  26.390117
19     NaN  27.962627

In [97]:
def MAPE(Y_actual,Y_Predicted):
    mape = np.mean(np.abs((Y_actual - Y_Predicted)/Y_actual))
    return mape

In [98]:
LR_MAPE= MAPE(test['TmScore'],y_pred)
print("MAPE: ",LR_MAPE)

MAPE:  0.1436820616395271

In [99]:
reg.coef_

array([ 0.4760239 ,  0.02792877,  0.00720744,  0.02072132, -2.48783684,
        0.54275847, -0.01273821,  0.0058204 , -0.01855861,  1.19437149])

## KC Chief predicted points is 28